#content-info {
    background: #f0a8a8;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    -moz-border-radius-bottomleft: 10px;
    -moz-border-radius-bottomright: 10px;
}

.text-right {
    text-align: right;
}
.text-center {
    text-align: center;
}


.caption h1 {
    width: 550px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background: url(../img/caption_bg.gif) no-repeat;
    line-height: 28px;
    color: #fff;

    /*
    background: #d9ff66 no-repeat;
    color: #666666;
    */
}

#side_illust {
    min-height: 1000px;
}

#side_illust.side_illust_about {
    background: url(../img/side_illust/about.jpg) repeat-y;
}

#side_illust.side_illust_voice {
    background: url(../img/side_illust/voice.jpg) repeat-y;
}

#side_illust.side_illust_work {
    background: url(../img/side_illust/work.jpg) repeat-y;
}

#side_illust.side_illust_niconico {
    background: url(../img/side_illust/kimono.jpg) repeat-y;
}

.post {
    margin: 0 0 15px 0;
}

/*
 * Diary loop
 */

#article_list article {
    border: #f0a8a8 1px solid;
    /* background: #a8f0f0; */
    background: #fff7cc;
}

article header {
    /* background: #D9ff66; */
    background: #a8f0f0;
    border-bottom: #f0a8a8 1px solid;
}

article footer {
    /* background: #D9ff66; */
    background: #a8f0f0;
    border-top: #f0a8a8 1px solid;
}

/*
 * Diary
 */
.entry-content {
    padding: 5px;
}

#comment {
    width: 300px;
}

article #respond {
    padding: 5px;
}

